header {
  padding: 45px 15px;
}

.app-about {				/* section */
	background-color: #ddd;
	min-height: 200px;
	padding: 30px 15px;
	text-align: center;
	font-size: 20px;
}

section:nth-child(odd) {
	background-color: #bbb;
}

p {
  margin: 0 auto;
}