#landing-head {
	margin-top: 95px;
	padding: 45px 15px;
	background-size: 100% auto;
	margin-left: 5px;
	margin-right: 5px;
	background: linear-gradient(#EDF3FB, #FAFBFC, #E5EEFA);
	box-shadow: 0 1px 1px 1px #777;
}

.app-about {				/* section */
	min-height: 160px;
	padding: 30px 15px;
	text-align: center;
	font-size: 20px;
	margin: 0 5px;
	background: linear-gradient(#EDF3FB, #C5D4EB);
	box-shadow: 0 1px 1px 1px #777;
}

.app-about:nth-child(even) {
	background: linear-gradient(#8DA9DC, #AFC8EC, #BBC9E3);
}

p {
  margin: 0 auto;
}

img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 2px 2px #777;
}

@media screen and (min-width: 530px) {
	#image-1 {
		margin-right: 15px;
	}

}