#signupBtn, #loginBtn {
  border: none;
  /*font-weight: bold;*/
  padding: 2px 4px;
  font-family: 'Exo', sans-serif;
  margin: 5px 5px 0 5px;
}

a {
  text-decoration: none;
}

Input {
  font-family: 'Exo', sans-serif;
}