#signupBtn, #loginBtn {
  border: none;
  padding: 2px 4px;
  font-family: 'Exo', sans-serif;
  margin: 5px 5px 0 5px;
}

a {
  text-decoration: none;
}

Input {
  font-family: 'Exo', sans-serif;
}

#spinner {
	box-shadow: none;
  border: none;
	position: fixed;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}