* {
  box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	/*line-height: 1px;*/	/* space between each line of text */
	font-size: 14px;
}

.category-btn {
	float: left;		/* So no spaces between buttons */	
	min-width: 25%;
	padding: 10px;
	margin-bottom: 15px;
}

.front-btn {
	border: 2px dotted darkblue;
}